body {
  font-family: 'Roboto', sans-serif;
  background-color: #2C2F33;
  color: #000;
}

.text {
  color: #fff;
}

/** LINKS **/
a:link {
  color: #7289DA;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: #7289DA;
}
